.logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    text-decoration: none;
    cursor: pointer;

&__web {
    color: #2196f3;
}

&__studio {
    color: black;
}
&__studio--white {
    color: #ffffff;
}
}

